#add-row-btn,
#add-col-btn {
  border-bottom: 0;
  border-left: 0;
  border-radius: 0;
  min-width: 4em;
}

#delete-row-btn,
#delete-col-btn {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  min-width: 4em;
}