.icon {
  height: 24px;
  width: 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.icon-small {
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 1px;
}

.float-right {
  float: right;
}

/* 
    PLANT ICONS
*/

/* <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
.strawberry {
  background-image: url('../images/strawberry.svg');
}

/* <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
.beet {
  background-image: url('../images/beet.svg');
}

/* <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
.carrot {
  background-image: url('../images/carrot.svg');
}

/* <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
.garlic {
  background-image: url('../images/garlic.svg');
}

/* <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
.leek {
  background-image: url('../images/leek.svg');
}

/* <div>Icons made by <a href="https://www.flaticon.com/authors/wanicon" title="wanicon">wanicon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
.lettuce {
  background-image: url('../images/lettuce.svg');
}

/* <div>Icons made by <a href="https://www.flaticon.com/authors/mynamepong" title="mynamepong">mynamepong</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
.onion {
  background-image: url('../images/onion.svg');
}

/* <div>Icons made by <a href="https://www.flaticon.com/authors/wanicon" title="wanicon">wanicon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>*/
.pea {
  background-image: url('../images/peas.svg');
}

/* <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>*/
.radish {
  background-image: url('../images/radish.svg');
}

/* <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>*/
.spinach {
  background-image: url('../images/spinach.svg');
}

/* <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
.tomato {
  background-image: url('../images/tomato.svg');
}